.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.contact-subtitle {
	width: 100% !important;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 120px;
}


.socials-container {
	display: flex;

	margin-top: 80px;
}

.contact-socials {
	display: flex;
	flex-basis: 40%;
	justify-content: flex-start;
	align-items: center;
}
.form{
	flex-basis: 60%;
}
.form-container{
	display: flex;
	flex-direction: column;
}
.form-container>.textarea{
	outline: none;
	margin: 1em 0;
	padding: 1em;
	background-color: var(--quaternary-color);
	color: var(--primary-color);
	border: none;
}
.form-container > button{
	font-size: 1em;
	border: none;
	background-color: var(--link-color);
	padding: 1em;
	color: white;
	cursor: pointer;
}
@media (max-width:600px) {
	
.socials-container {
	display: flex;
	flex-direction: column;
}
}