@import "../../../data/styles.css";
.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 100%;
	border: 1px solid var(--quaternary-color);
	transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.project a {
	text-decoration: none;
}

.project:hover {
	transform: translate(-30px, -30px);
	border-color: #ffcc00; /* Highlight color on hover */
	opacity: 1; /* Ensures the opacity transition */
}

.project:hover .project-link {
	color: var(--link-color);
}

.project-container {
	padding: 30px;
}

.project-logo {
	max-width: 100px;
	gap: 2px;
	display: flex;
}

.project-logo img {
	width: 40px;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 15px;
	margin-bottom: 1em;
	font-weight: 700;
}

.project-description {
	color: var(--secondary-color);
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
	transition: color 0.3s ease-in-out; /* Smooth transition for link color */
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: fit-content;
	}
}

