:root {
	/* ------- colors ------- */
	--primary-color: #ffffff;
	--secondary-color: #ebebeb;
	--tertiary-color: #172236;
	--quaternary-color: #6e8499;
	--link-color: #1a10dd;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
